In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [5]:
cleaned_flight = pd.read_csv("cleaned_flight.csv")

In [6]:
cleaned_flight

,Airline name,Travel Time,Number of Stoppage(s),Ticket price(Dollar),Departure Airport,Departure Time,1st Stoppage Waiting Time,1st Stoppage,2nd Stoppage Waiting Time,2nd Stoppage,3rd Stoppage Waiting time,3rd Stoppage,Destination Airport,Arrival Time,Arrival Date
0,Emirates,51:15:00,2,1156.0,DAC,01:40:00,11h 15m,DXB,19h 40m,MXP,NaN,NaN,JFK,18:55:00,04-08
1,Emirates,57:25:00,2,1156.0,DAC,19:30:00,17h 15m,DXB,19h 40m,MXP,NaN,NaN,JFK,18:55:00,04-09
2,Turkish,26:5:00,1,1175.0,DAC,06:35:00,6h 20m,IST,NaN,NaN,NaN,NaN,EWR,22:40:00,NaN
3,Kuwait,21:15:00,1,1264.0,DAC,03:10:00,2h 10m,KWI,NaN,NaN,NaN,NaN,JFK,14:25:00,NaN
4,Etihad,22:35:00,1,1283.0,DAC,20:55:00,3h 0m,AUH,NaN,NaN,NaN,NaN,JFK,09:30:00,04-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2456,British,47:35:00,2,2654.0,DAC,10:50:00,11h 35m,DOH,NaN,NaN,NaN,NaN,DXB,08:25:00,04-09
2457,Multiple,19:15:00,2,3307.0,DAC,00:50:00,1h 50m,CAN,NaN,NaN,NaN,NaN,DXB,18:05:00,NaN
2458,Multiple,23:30:00,2,3606.0,DAC,00:50:00,4h 0m,CAN,NaN,NaN,NaN,NaN,DXB,22:20:00,NaN
2459,Multiple,23:30:00,2,3606.0,DAC,00:50:00,3h 10m,CAN,NaN,NaN,NaN,NaN,DXB,22:20:00,NaN
2460,Multiple,22:10:00,2,3993.0,DAC,02:10:00,55m,HKG,NaN,NaN,NaN,NaN,DXB,22:20:00,NaN